<div  [ngStyle]="{backgroundColor:'var(--highlight-bg)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)'}" >
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="https://e7.pngegg.com/pngimages/928/468/png-clipart-canada-amazon-com-california-amazon-drive-amazon-prime-adidas-logo-s-text-service.png" height="40" class="mr-2" />
        </ng-template>
        
          
        
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search" class="w-full" />
            <button>hi</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
        </ng-template>
    </p-menubar>
</div>