<!--<div class="container-fluid">
  <h1>Form:1</h1>
  <form #userForm="ngForm">
    {{userForm.value | json}}

      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" ngModel>
      </div>
    
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" ngModel>
      </div>
    
      <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="tel" class="form-control" name="Phone" ngModel>
      </div>
    
      <div class="form-group">
        <select class="custom-select" name="Topic" ngModel>
          <option selected>I am interested in</option>
          <option *ngFor="let topic of topics">{{topic}}</option>
        </select>
      </div>

      <div class="mb-3">
        <label>Time Preference</label>
        <div class="form-check">
          <input type="text" class="form-check-input" ngModel type="radio" value="morning" name="timePref">
          <label class="form-check-label">Morning(9AM-12PM)</label>
        </div>
        <div class="form-check">
          <input type="text" class="form-check-input" ngModel type="radio" value="evening"  name="timePref">
          <label class="form-check-label">Evening(5PM-8PM)</label>
        </div>
      </div>

      <div class="form-check">
        <input type="text" class="form-check-input" type="checkbox" name="promoffers" ngModel >
        <label class="form-check-label">Send me Promotional Offers</label>
      </div>

      
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>
<h1>Approach:1</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username">
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email">
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" ngModel name="secretquestion">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<h1>Approach:2</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>

          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid mail.</span>
          </div>
          <p *ngIf="">Please enter a valid value!</p>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secretquestion">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="questionAnswer"rows="4" [(ngModel)]="answer"></textarea>
        </div>
        <p>Your Reply:{{answer}}</p>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>-->












<h1>Practice</h1>
<section class="container" [ngClass]="{'form-shadow': onSubmit.touched}">
  <header>Registration Form</header>

  <form class="form" (ngSubmit)="onFormSubmitted()" #onSubmit="ngForm">
    <div class="column">
      <div class="input-box">
        <input type="text"  [(ngModel)]="firstName" placeholder="First Name"  name="firstName" ngModel required #fname="ngModel"/>
        <div>
          <small *ngIf="fname.invalid && fname.touched">First Name is required feild.</small>
          <span *ngIf="firstName">You entered:{{firstName}}</span>
        </div>
      </div> 
   
     

      <div class="input-box ">
        <input type="text"  [(ngModel)]="lastName"  placeholder="Last Name" name="lastName"  ngModel required #lname="ngModel"/>
        <div>
          <small *ngIf="lname.invalid && lname.touched">Last Name is required feild.</small>
          <span *ngIf="lastName">You entered:{{lastName}}</span>
        </div>
      </div>
    </div>    

    <div class="input-box">
      <input type="text"   [(ngModel)]="mail" placeholder="Email"  name="email" ngModel required email #email="ngModel"/>
      <div>
        <small *ngIf="email.invalid && email.touched">Email is required feild.</small>
        <span *ngIf="mail">You entered:{{mail}}</span>
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" name="phone" ngModel/>
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth" name="dob"  ngModel/>
      </div>
    </div>

    <!--<div class="input-box">
      <input type="text" placeholder="username" />
      <button class="btn-gen-username">
        Create a Username
      </button>
    </div>-->

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gender of genders">
          <input type="radio" [id]=gender.id name="gender" [value]="gender.value" checked  ngModel/>
          <label for="check-male">{{gender.display}}</label>
        </div>
      </div>
    </div>

    <div class="input-box address" ngModelGroup="address">
      <label>Address</label>
      <input type="text" placeholder="Street address" name="addline1"  ngModel required/>
      <input type="text" placeholder="Street address line 2" name="addline2"  ngModel/>
      <div class="column">
        <div class="select-box">
          <select name="country" name="country" ngModel required>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city" ngModel required/>
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="region" ngModel/>
        <input type="number" placeholder="Postal code" name="postalCode" ngModel required/>
      </div>
    </div>
    <button value="Submit" class="submit-btn" [disabled]="!onSubmit.valid">Submit</button>
  </form>
</section>
